<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
    ></script>
    <!-- Thêm SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

    <!-- Thêm SweetAlert JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link
            rel="stylesheet"
            type="text/css"
            href="/css/login&register.css"
    />
    <title>Modern Login Page</title>
    <style>
        .popup {
            display: none; /* Ẩn popup theo mặc định */
            position: fixed;
            z-index: 3000 ;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
        }

        .popup-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 300px; /* Chiều rộng của popup */
            text-align: center;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
<div class="container" id="container">
    <div class="form-container sign-up">
        <form action="/auth/user" method="POST">
            <h1 class="text-center">Get Started Now!</h1>
            <b>First Name</b>
            <input type="text" name="firstname" placeholder="Enter your first name" required minlength="2" maxlength="50" />
            <b>Last Name</b>
            <input type="text" name="lastname" placeholder="Enter your last name" required minlength="2" maxlength="50" />
            <b>Email</b>
            <input type="email" name="email" placeholder="Enter your email" required />
            <b>Password</b>
            <input type="password" name="password" placeholder="Enter your password" required minlength="6" />
            <b>Confirm Password</b>
            <input type="password" name="isPassword" placeholder="Confirm your password" required minlength="6" maxlength="20" />
            <div class="agree">
                <input class="checkbox" type="checkbox" required />
                <label for="">
                    <small> I agree to </small> <a href="">terms &amp; policy </a>
                </label>
            </div>

            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form onsubmit="logIn(event)">
            <h1 class="text-center">Đăng nhập</h1>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <div class="agree">
                <input class="checkbox" type="checkbox" />
                <label for="">
                    <small> I agree to </small> <a href="">terms &amp; policy </a>
                </label>
            </div>
            <a href="#" id="forgotPasswordLink">Quên mật khẩu?</a>


            <button type="submit">Đăng nhập</button>

        </form>
    </div>
    <!-- Popup -->
    <div id="forgotPasswordPopup" class="popup">
        <div class="popup-content">
            <span class="close" id="closePopup">&times;</span>
            <h2>Quên mật khẩu</h2>
            <p>Nhập địa chỉ email của bạn để nhận liên kết đặt lại mật khẩu:</p>
            <input name="email" type="email" id="emailInput" placeholder="Nhập email của bạn" required>
            <button id="sendEmailBtn">Gửi</button>
        </div>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <img
                        src="/img/photos/Remove-bg.ai_1728901653019.png"
                        class="img img-fluid"
                        alt=""
                />
                <div class="img-content">
                    <h1>Welcome Back</h1>
                    <p>Enter your personal details to use all of site features</p>
                </div>

                <button class="hidden" id="login">Đăng nhập</button>
            </div>

            <div class="toggle-panel toggle-right">
                <img
                        src="/img/photos/Remove-bg.ai_1728901653019.png"
                        class="img img-fluid"
                        alt=""
                />
                <div class="img-content">
                    <h1>Hello, Friend!</h1>
                    <p>
                        Bạn chưa có tài khoản? nhấn bên dưới để đăng kí ngay.
                    </p>
                </div>
                <button class="hidden" id="register">Đăng kí</button>
            </div>
        </div>
    </div>
</div>
<script>

    async function logIn(event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của form

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        try {
            const response = await fetch('/auth/authenticate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'email': email,
                    'password': password
                })
            });

            if (response.ok) {
                const userInfo = await response.json(); // Nhận dữ liệu JSON từ server
                const data = {
                    userInfo,
                    lastActive: Date.now()
                }
                console.log('User  Info:', data); // Ghi lại thông tin người dùng vào console
                localStorage.setItem('userInfo', JSON.stringify(data));

                if (userInfo.roles.includes("ROLE_ADMIN")) {
                    window.location.href = "http://localhost:8080/admin/thongke";
                } else if (userInfo.roles.includes("ROLE_USER")) {
                    window.location.href = "http://localhost:8080";

                } else if (userInfo.roles.indexOf("ROLE_COMPANY")!== -1) {
                    window.location.href = "/job-posts/create";
                } else {
                    window.location.href = "/auth/default/dashboard";
                }
            } else {
                const errorText = await response.text();
                console.error('Authentication failed:', errorText);
                alert('Đăng nhập không thành công. Vui lòng kiểm tra lại thông tin.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Có lỗi xảy ra. Vui lòng thử lại.');
        }
    }
</script>
<script>
    document.getElementById('register').addEventListener('click', function() {
        // Chuyển hướng đến trang đăng ký
        window.location.href = 'register/user'; // Thay đổi '/register' thành URL của trang đăng ký của bạn
    });

    document.getElementById('forgotPasswordLink').addEventListener('click', function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
        document.getElementById('forgotPasswordPopup').style.display = 'block'; // Hiển thị popup
    });

    document.getElementById('closePopup').addEventListener('click', function () {
        document.getElementById('forgotPasswordPopup').style.display = 'none'; // Ẩn popup
    });

    document.getElementById('sendEmailBtn').addEventListener('click', function () {
        const email = document.getElementById('emailInput').value;
        if (email) {
            fetch('/auth/forgot-password', { // Đảm bảo đường dẫn đúng
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    email: email
                })
            })
                .then(response => {
                    if (!response.ok) {
                        swal("Có lỗi xảy ra!", "Vui lòng kiểm tra lại thông tin và thử lại.", "error");
                    }else
                    swal("Thành công!", "Đã đặt lại mật khẩu thành công.", "success");
                })
                .then(data => {

                    document.getElementById('forgotPasswordPopup').style.display = 'none'; // Ẩn popup
                })
                .catch(error => {
                    alert(error.message); // Hiển thị thông báo lỗi
                });
        } else {
            swal("Xảy ra lỗi!", "Vui lòng nhập Email!", "error");
        }
    });

    // Đóng popup khi nhấn ra ngoài popup
    window.onclick = function(event) {
        const popup = document.getElementById('forgotPasswordPopup');
        if (event.target === popup) {
            popup.style.display = 'none';
        }
    };
</script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"
></script>
<script src="/js/script.js"></script>
</body>
</html>
